<% provide(:title, "Log in") %>

<section id="login">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <div class="login-section">
          <%= form_for(:session, url: login_path) do |f| %>
          <h1>Log in with your telephone and password</h1>
          <div class="form-group">
            <label class="sr-only" for="email">Email</label>
            <%= f.telephone_field :telephone,id: "email", class:"form-control",placeholder:"Telephone"%>
          </div>
          <div class="form-group">
            <label class="sr-only" for="key">Password</label>
            <%=f.password_field :password,id:"key",class:"form-control",placeholder:"Password"%>
          </div>
          <div class="[ form-group ]">
            <input autocomplete="off" id="fancy-checkbox-primary" name="fancy-checkbox-primary" type="checkbox"/>
            <div class="[ btn-group ]">
              <label class="[ btn btn-primary ]" for="fancy-checkbox-primary">
                <span class="[ glyphicon glyphicon-ok ]"></span>
                <span></span>
              </label>
              <label class="[ btn btn-default active ]" for="fancy-checkbox-primary">
                Remember me on this browser
              </label>
            </div>
          </div>
          <%=f.submit "Log in",class:"btn-login",class:"btn btn-custom btn-lg btn-block" %>
        </form>
        <%end%>
        <div class ="register">
          <%= link_to '<button type="button" class="btn btn-custom btn-lg btn-block">New user? Register now!</button>'.html_safe, new_user_path %>
      </div>
    </div>
    <!--! /.login-section-->
      </div>
<!-- /.col-xs-12 -->
  </div>
<!-- /.row -->
</div>
<!-- /.container -->
</section>
