<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th><h4> Name &nbsp&nbsp&nbsp&nbsp </h4></th>
      <th><h4> Telephone  </h4></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %> &nbsp</td>
        <td><%= user.telephone %></td>
        <td><%= link_to 'View profile', user %>&nbsp</td>
        <td><%= link_to 'Valorate user', new_user_valoration_path(user)%></td>
      </tr>
    <% end %>
</tbody>
</table>
