<div class="container">
  <div class="row">
    <div class="panel panel-primary filterable">
      <div class="panel-heading">
        <h3 class="panel-title">Users</h3>
      </div>
      <table class="table">
        <thead>
          <tr class="filters">
            <th>Telephone</th>
            <th>Name</th>
            <th>E-mail</th>
            <th>Link to profile</th>
            <th>Link to valorate</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td><%= user.telephone %></td>
            <td><%= user.name %></td>
            <td><%= user.email%></td>
            <td><%= link_to '<button class="btn btn-default">Profile</button>'.html_safe, user %></td>
            <td><%= link_to '<button class="btn btn-default">RankHim</button>'.html_safe, new_user_valoration_path(user) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
