<p id="notice"><%= notice %></p>

<h1>Listing Valorations</h1>

<table>
  <thead>
    <tr>
      <th>Valorated user</th>
      <th>Hability</th>
      <th>Points</th>
      <th>Time</th>
      <th< colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @valorations.each do |valoration| %>
      <tr>
        <td><%= valoration.user.name %></td>
        <td><%= valoration.hability.name %></td>
        <td><%= valoration.points %></td>
        <td><%= valoration.created_at %></td>
        <td><%= link_to 'Show', [@user,valoration] %></td>
        <td><%= link_to 'Edit', edit_user_valoration_path(@user,valoration) %></td>
        <td><%= link_to 'Destroy', [@user,valoration], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Valoration', new_user_valoration_path(@user) %>
<p>
  <%= link_to 'Back', user_path(@user) %>
</p>
